.nav {
    display: flex;
    justify-content: space-evenly; 
    align-items: center;
    background-color: #E8F0F2; /* Un azul muy suave */
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave en la barra de navegación */
}

button {
    background: linear-gradient(145deg, #D2E9E4, #B9E0E0); /* Colores de azul claro */
    border: 1px solid #FFFFFF;
    border-radius: 12px; 
    box-shadow: 
        0 -10px 20px #FFFFFF,  /* Sombra clara superior */
        0 10px 20px #A1C1C1;   /* Sombra oscura inferior más clara */
    padding: 10px 20px; 
    color: #333; 
    font-size: 16px;
    font-family: 'Arial', sans-serif;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s; /* Efecto de transición para el hover */
}

button:hover {
    transform: translateY(-3px); /* Levanta el botón al hacer hover */
    box-shadow: 
        0 -15px 25px #FFFFFF,  /* Sombra más pronunciada al hacer hover */
        0 15px 25px #A1C1C1;   /* Sombra oscura más grande al hacer hover */
}

.nav img {
    height: 60px; 
    width: 60px;
    border-radius: 50%; /* Convertir a redondo */
    box-shadow: 
        0 -5px 10px #FFFFFF,  /* Sombra clara superior */
        0 5px 10px #A1C1C1;   /* Sombra oscura inferior más clara */
}

